<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos</title>
    <link rel="stylesheet" href="/src/views/public/style/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo"><a href="/src/views/afterLogin/dashboard.html">Xu do Pix</a></h1>
            <nav>
                <ul>
                    <li><a href="#">NOVA DÍVIDA</a></li>
                    <li><a href="./creditoList.html">QUITAR</a></li>
                    <li><a href="./dividasList.html">DEBITOS</a></li>
                    <li><a href="/src/views/">SAIR </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="user-info">
            <h2 id="greeting"><span id="nome-usuario"></span></h2>
        </div>
            <div id="table-container">
            <table id="dynamic-table">
                <thead>
                    <h2>SEUS CREDITOS</h2>
                    <tr>
                        <th>VALOR</th>
                        <th>DEVEDOR</th>
                        <th>PRAZO</th>
                        <th>SITUAÇÃO</th>
                    </tr>
                </thead>
                <tbody id="credito-lista"></tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Xu do Pix. Todos os direitos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/js/conexaoAPI.js"></script>
</body>
</html>
