<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/src/views/public/style/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo"><a href="/src/views/afterLogin/dashboard.html">Xu do Pix</a></h1>
            <nav>
                <ul>
                    <li><a href="#">NOVA DÍVIDA</a></li>
                    <li><a href="#">QUITAR</a></li>
                    <li><a href="#">DEBITOS</a></li>
                    <li><a href="/src/views/">SAIR </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="user-info">
            <h2>Olá, usuário</h2>
        </div>
        <div id="table-container">
            <table id="dynamic-table">
                <thead>
                    <h2>SUAS DÍVIDAS</h2>
                    <tr>
                        <th>VALOR</th>
                        <th>PRAZO</th>
                        <th>CREDOR</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody id="pessoas-lista">
                    <tr>
                        <td class="dados-adicionais">R$10,00</td>
                        <td>17/04/2024</td>
                        <td>LINBEL PEREIRA</td>
                        <td>ABERTA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="table-container">
            <table id="dynamic-table">
                <thead>
                    <h2>SEUS CRÉDITOS</h2>
                    <tr>
                        <td>VALOR</td>
                        <td>PRAZO</td>
                        <td>DEVEDOR</td>
                        <td>STATUS</td>
                        <td>QUITAR DÍVIDA</td>
                    </tr>
                </thead>
                <tbody id="pessoas-lista">
                    <tr>
                        <td class="dados-adicionais">R$1000,00</td>
                        <td>17/04/2024</td>
                        <td>LINBEL PEREIRA</td>
                        <td>ABERTA</td>
                        <td>
                            <button type="submit">REMOVER</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Xu do Pix. Todos os direitos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/js/conexaoAPI.js"></script>
</body>
</html>
