<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/src/views/public/style/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo"><a href="/src/views/afterLogin/dashboard.html">Xu do Pix</a></h1>
            <nav>
                <ul>
                    <li><a href="#">NOVA DÍVIDA</a></li>
                    <li><a href="#">PAGAR DÍVIDA</a></li>
                    <li><a href="#">VALORES A RECEBER</a></li>
                    <li><a href="/src/views/">SAIR </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="user-info"></div>
        <div id="table-container">
            <table id="dynamic-table">
                <thead>
                    <h2>SUAS DÍVIDAS</h2>
                    <tr>
                        <th>VALOR</th>
                        <th>CPF</th>
                        <th>DEVEDOR</th>
                        <th>CREDOR</th>
                    </tr>
                </thead>
                <tbody id="pessoas-lista">
                    <tr>
                        <td class="dados-adicionais">R$1000,00</td>
                        <td>17/04/2024</td>
                        <td>LINBEL PEREIRA</td>
                        <td>CEDU</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Xu do Pix. Todos os direitos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/js/conexaoAPI.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
        const urlParams = new URLSearchParams(window.location.search);
        
        const idURL = urlParams.get('id');
        const userData = await mostrarPessoaPorId(idURL);
        
        document.getElementById('user-info').innerHTML = `
                <h2>Dados do Usuário</h2>
                <p>id: ${userData._id}</p>
                <p>CPF: ${userData.cpf}</p>
                <p>Nome: ${userData.nome}</p>
                <p>Senha: ${userData.senha}</p>
            `;
        });      
    </script>
</body>
</html>
