<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
     integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
     integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
     crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="/src/views/public/style/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="logo"><a href="/src/views/afterLogin/dashboard.html">Xu do Pix</a></h1>
            <nav>
                <ul>
                    <li><a href="./creatDivida.html">NOVA DÍVIDA</a></li>
                    <li><a href="./creditoList.html">CREDITOS</a></li>
                    <li><a href="./dividasList.html">DEBITOS</a></li>
                    <li><a href="/src/views/">SAIR </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="user-info">
            <span class="more-info-icon">
                <i class="fas fa-sort-down down-icon"></i>
                <h2 id="greeting"><span id="nome-usuario"></span></h2>
            </span>
            <div class="info-container" ><br>
                <p id="cpf-usuario"></p>
                <p id="dividas-ativas"></p>
                <p id="saldo-positivo"></p>
                <p id="saldo-negativo"></p>
            </div>
        </div>
    <div class="forms-container">
        <div class="title-container">
            <h1>EDITAR</h1>
        </div>
        <form action="#" method="POST" class="cadastro-form" id="editar-form">
            <div class="input-group">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" required maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Insira no formato - 123.456.789-00">
            </div>
            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required placeholder="Seu nome aqui">
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required minlength="6" placeholder="Pelo menos 6 caracteres">
            </div>
            <button type="submit">EDITAR</button>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2024 Xu do Pix. Todos os direitos reservados.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../public/js/conexaoAPI.js"></script>
</body>
</html>

