<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBord de pessoas</title>
    <link rel="stylesheet" href="./public/style/style.css">
</head>
<body>
    <h1>DashBord de pessoas</h1>
    <div id="table-container">
        <table id="dynamic-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody id="pessoas-lista"></tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/conexaoAPI.js"></script>
</body>
</html>
